# app 
APP_ENV=                    # development | staging | production
APP_HOST=0.0.0.0
APP_PORT=8000
APP_DEBUG=                  # true | false

# security
SECRET_KEY=                 # opensssl rand -hex 32

# database
DB_HOST=                    
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

# JWT
JWT_SECRET_KEY=             # opensssl rand -hex 32
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
